@model CreateNewPullRequestViewModel

@{
    ViewBag.Title = "New Pull Request";
    Layout = "_Layout";
}

<div class="container-fluid flex-grow-1 container-p-y">

    <h4 class="py-3 mb-4">
        <ol class="breadcrumb font-weight-bold m-0">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="TestLab">Test Lab</a></li>
            <li class="breadcrumb-item"><a asp-action="TestCase" asp-controller="TestLab" asp-route-id="@Model.TestId">@Model.TestName</a></li>
            <li class="breadcrumb-item active">Create new pull request</li>
        </ol>
    </h4>
    
    <div class="card mb-4">
        <h6 class="card-header">
            Create new pull request for @Model.TestName
        </h6>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="alert alert-dark-danger alert-dismissible fade show" role="alert">Errors occured:</div>
            <form asp-action="CreateNewPullRequest" method="post">
                <input type="hidden" asp-for="TestId"/>
                <div class="form-group">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span style="font-size: 10px" asp-validation-for="Title" class="invalid-feedback"></span>
                </div>  
                <div class="form-group">
                    <label asp-for="Body" class="form-label"></label>
                    <textarea rows="5" asp-for="Body" class="form-control"></textarea>
                    <span style="font-size: 10px" asp-validation-for="Body" class="invalid-feedback"></span>
                </div>  

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

